@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: linear-gradient(135deg,#0b0f1a,#05070d);
    color:blue;
    min-height:100vh;
}

/* NAVBAR */
nav{
    display:flex;
    gap:20px;
    padding:20px 40px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-bottom:1px solid rgba(255,255,255,0.1);
}

nav a{
    color:#4facfe;
    text-decoration:none;
    font-weight:500;
}

/* CONTAINER */
.container{
    padding:40px;
}

/* CARDS */
.card{
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    padding:25px;
    border-radius:12px;
    margin-bottom:25px;
}

/* GRID FOR DASHBOARD */
.card-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-top:20px;
}

.nav-card{
    background: rgba(255,255,255,0.05);
    padding:30px;
    border-radius:12px;
    text-align:center;
    text-decoration:none;
    color:dark blue;
    transition:0.3s;
    border:1px solid rgba(255,255,255,0.1);
}

.nav-card:hover{
    transform:translateY(-5px);
    background:#4facfe33;
}

/* INPUTS */
input, select{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:15px;
    border:none;
    border-radius:6px;
}

.btn{
    background:#4facfe;
    border:none;
    padding:12px 20px;
    border-radius:6px;
    cursor:pointer;
    color:darkblu;
    font-weight:600;
}
